* {
    background-color: lightgray;
}

p{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-style: italic;
    font-size: 16px;
    text-align: right;
    color: blue;
}

#odlomak1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: red;
    font-size: 110%;
}

#odlomak2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
    text-align: justify;
}

a{
    color: gray;
    text-decoration: none;
}
a:hover{
    color: yellow;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align:center
}