ol{
    width: 250px;
    padding: 5px;
    border: 2px solid black;
}

li{
    padding: 3px;
    margin-left: 34px;
    margin-bottom: 5px;
    list-style-position: inside;
}

ol li:last-child{
    margin-bottom: 0px;
}

ol li a{
    text-decoration: none;
    color:black;
}

ol li a:hover{
    text-decoration: underline;
    text-transform: capitalize;
    font-size: large;
    color: red;
}

[lang = 'en-GB']{
    background:rgba(0, 255, 0, 0.25) url(../images/en-GB.png) 5px center no-repeat;
    margin-left: 0;
    padding-left: 34px;
}


[lang = 'es']{
    background:rgba(0, 0, 255, 0.5) url(../images/es.png) 5px no-repeat ;
    margin-left: 0;
    padding-left: 34px;
}

[lang = 'de']{
    background:rgba(255, 0, 0, 0.75) url(../images/de.png) 5px no-repeat ;
    margin-left: 0;
    padding-left: 34px;
}